h2 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #9dbac9;
  color: #ffffff;
    border-radius: 8px; 
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #9dbac9;
  color: #ffffff;
     
}
body {
  background-color: #9dbac9;
  text-align: center;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
.navigator a:hover {
  background-color: #111111;
  color: #ffffff;
  width: auto;
  height: auto;


}
.navigator {
  color: #ffffff;
  font-family:Arial, Helvetica, sans-serif;
  border-color: #ffffff;
  display: flex;
  flex-wrap: center;
  background-color: #9dbac9;
  
 
}.navigator > div {
  background-color: #9dbac9;
  margin: auto; 
  line-height: auto;
  font-size: auto;
  flex:1;}
a > div {
  border-color: #ffffff;
      }
p {
 font-family: Arial, Helvetica, sans-serif;
      }