h2 {
  font-family: 'Baloo Da 2';font-size: 22px;
  color: #ffffff;
}
h1 {
  font-family: 'Baloo Da 2';font-size: 22px;
  color: #ffffff;
  
    border-radius: 8px;       
}
body {
  text-align: center;
  background-image: url("space.jpg");
}
p {
  font-family: 'Baloo Da 2';font-size: 22px;
  color: white;
  background-color: black;
}
.navigator a:hover {
  background-color: #ffffff;
  color:black;
  width: auto;
  height: auto;


}
.navigator {
  color: #ffffff;
  font-family: 'Baloo Da 2';font-size: 22px;
  border-color: #ffffff;
  display: flex;
  flex-wrap: center;
  
  
 
}.navigator > div {
  
  margin: auto; 
  line-height: auto;
  font-size: auto;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  
}
