h2 {
  font-family: 'Baloo Da 2';font-size: 22px;
  background-color: #9dbac9;
  color: #ffffff;
}
h1 {
  font-family: 'Baloo Da 2';font-size: 22px;
  background-color: #9dbac9;
  color: #ffffff;
  
    border-radius: 8px;       
}
body {
  Background-image: url(“space.jpg”);
  font-family: 'Baloo Da 2';font-size: 22px;
 
  text-align: center;
}
p {
  font-family: 'Baloo Da 2';font-size: 22px;
}
.navigator a:hover {
  background-color: #111111;
  color: #ffffff;
  width: auto;
  height: auto;


}
.navigator {
  color: #ffffff;
  font-family: 'Baloo Da 2';font-size: 22px;
  border-color: #ffffff;
  display: flex;
  flex-wrap: center;
  background-color: #9dbac9;
  
 
}.navigator > div {
  background-color: #9dbac9;
  margin: auto; 
  line-height: auto;
  font-size: auto;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  
}

