h2 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9dbac9;
    color: #ffffff;
  }
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9dbac9;
    color: #ffffff;
      
  }
  body {
    background-color: #9dbac9;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .navigator a:hover {
    background-color: #111111;
    color: #ffffff;
    width: auto;
    height: auto;
  
  
  }
  .navigator {
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    border-color: #ffffff;
    display: flex;
    flex-wrap: center;
    background-color: #9dbac9;
    
   
  }.navigator > div {
    background-color: #9dbac9;
    margin: auto; 
    line-height: auto;
    font-size: auto;}\p {
        font-family: Arial, Helvetica, sans-serif;
      }
      p {
        font-family: Arial, Helvetica, sans-serif;
      }
  